<mat-toolbar *ngIf="isAuthenticated()"  color="primary" class="navbar">
  <span class="navbar-title" color="warn">Workplace Tasks</span>

   <button mat-button (click)="goToTasks()">
    <mat-icon>assignment</mat-icon> Tarefas
  </button>

  <!-- Visível apenas para Admin -->
  <button *ngIf="isAdmin()" mat-button (click)="goToUsers()">
    <mat-icon>group</mat-icon> Usuários
  </button>


  <ng-container *ngIf="user">
    <span class="user-info">
      <mat-icon>person</mat-icon>
      {{ user.name }} ({{ user.role }})
    </span>

    <!-- <button
      mat-button
      class="admin-btn"
    >
      Painel de Admin
    </button> -->

    <button mat-icon-button color="accent" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

