mat-form-field {
  width: 100%;
  margin-bottom: 12px;
}

mat-dialog-content {
  min-width: 300px;
}
mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}