.task-container {
   padding: 2rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.status-filter {
  width: 250px;
}

.spacer {
  flex: 1 1 auto;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:  1rem;
  margin-top: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.no-tasks {
  text-align: center;
  margin-top: 40px;
  font-size: 1.2em;
  color: gray;
}

.task-card {
  padding: 10px;
  transition: transform 0.2s ease;
}

.task-card:hover {
  transform: scale(1.02);
}

.status-pending {
  background-color: #004272; /* azul claro */
  border-left: 5px solid #2196f3;
}

.status-progress {
  background-color: #b36f03; /* laranja claro */
  border-left: 5px solid #fb8c00;
}

.status-done {
  background-color: #025209; /* verde claro */
  border-left: 5px solid #43a047;
}


.mat-paginator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}